{{! Page Navigation Tabs }}
<div class="container">
  <nav class="manual-page-nav mb-4">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link">Quickstart</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="prerequisites" class="nav-link">Prerequisites</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="frontend" class="nav-link">Frontend</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="backend" class="nav-link">Backend</LinkTo>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle justify-content-center
            {{if
              (or
                (eq @activePage 'loom')
                (eq @activePage 'tor')
                (eq @activePage 'ai')
                (eq @activePage 'structure')
              )
              'active'
            }}"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Advanced
        </a>
        <ul class="dropdown-menu">
          <li>
            <LinkTo
              @route="structure"
              class="dropdown-item {{if (eq @activePage 'structure') 'active'}}"
            >
              Project Structure
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @route="ai"
              class="dropdown-item {{if (eq @activePage 'ai') 'active'}}"
            >
              Structured Approach to AI
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @route="metadata"
              class="dropdown-item {{if (eq @activePage 'metadata') 'active'}}"
            >
              Metadata Generator
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @route="ubuntu"
              class="dropdown-item {{if (eq @activePage 'ubuntu') 'active'}}"
            >
              Ubuntu: Server Setup
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @route="vhost"
              class="dropdown-item {{if (eq @activePage 'vhost') 'active'}}"
            >
              Nginx: Domain Virtual Hosting
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @route="loom"
              class="dropdown-item {{if (eq @activePage 'loom') 'active'}}"
            >
              Loom: Multi Tribe
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @route="tor"
              class="dropdown-item {{if (eq @activePage 'tor') 'active'}}"
            >
              Tor: Onion Network
            </LinkTo>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
